/*nav панель*/
.header_nav {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 6rem 0;  
}
.header_list {
  display: flex;
  gap: 2rem ;
  justify-content: center;
  padding-top: 2.7rem;
  padding-right: 10rem;
  list-style: circle;
}

.header_list-style {
  color: #000;
  font-family: Raleway 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_list_item-no-style { 
  list-style: none;
  text-decoration: none;
}
.header_list-item {
  text-underline-position: under;
}

/* logo black*/
.img-logo{
  width: 140px;
}
/* address */
.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  padding-right: 3.3rem;
  padding-top: 0.4rem ;
}

.address_item { 
  list-style: none;
}

.address_item-style {
color: #000;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24.3px; /* 135% */
}
.address_click {
  text-underline-position: under;
}
/* заголовок */

.overley{
  background: rgba(0, 0, 0, 0.60);
  z-index: -1;
  position: absolute;
  inset: 0.5px 0.5px 0.5px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10.3rem 3.1rem 3.1rem; 
  position: relative;
  z-index: -2;
}
.logo{
  position: relative;
  z-index: 0;
}

.main_logo-item {
  display: block;
} 

.main_logo-item-center {
  padding-right: 3.8rem;
  padding-top: 1rem;
  } 

.center {
  text-align: center;
  padding-left: 2rem;
  line-height: 100%;
}
.right {
  display: flex;
  justify-content: end;
  line-height: 100%;
  padding-top: 1.3rem;
}
.main_logo_item_right-n {
  letter-spacing: 4rem;
}
.main_logo_item_right-ado {
  margin-right: -2rem;
}

.left {
  line-height: 115%;
  letter-spacing: 2rem;
  padding-right: 20rem;
}
.item-o {
  padding-left: 1.6rem;
}

.main_logo-style {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  
}

.div{
  display: flex;
  justify-content: end;
  padding-top: 8.3rem;
}


.main_text_down{
  padding-top: 1rem;
  letter-spacing: 0;
  word-spacing: 1.13rem;
  padding-right: 5rem;
}

.main_text_down-style{
color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 127.273% */
text-transform: uppercase;
}

.main_button{
  display: flex;
  justify-content: end;
  text-align: right;
  padding: 0.75rem 2rem;
}

.main_button-style{
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}


.contanier_lots-title {
  padding-top: 11.5rem;
  padding-left: 3.1rem;
}

.lots_title-style {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;  
  padding-left: 2.5rem;
}
.contanier_lots{
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  padding-top: 1.6rem;
  padding-left: 3rem;
  position: relative;
}
.lots_img{
  width: 430px;
}
.lots_img{
  position: relative;
  filter: brightness(50%);
}


.lots-text{
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 3.2rem;
  padding-left: 2.5rem;
}

.lots_text-style {
color: #FFF;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */
text-decoration-line: underline;
text-transform: uppercase;
}

.lots_text_down{
  position: absolute;
  z-index: 1;
  padding-top: 19rem;
  padding-left: 2.5rem;
  
}

.lots_text_down-2{
  position: absolute;
  z-index: 1;
  padding-top: 10rem;
  padding-left: 2.5rem;
}
.lots_text_down-3 {
  position: absolute;
  z-index: 1;
  padding-top: 13rem;
  padding-left: 2.5rem;
}

.lots_text_down-style{
color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
}
.lots_link-style{
color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.lots_link{
  text-underline-position: under;
  position: relative;
  bottom: -1.7rem;
  padding-left: 5.5rem;
}

.about{
  padding-top: 13rem;
}

.contanier-logo{
  border-radius: 50%;
  height: 240px;
  width: 240px;
  text-align: center;
  background: black;
  position: relative;
  left: 9rem;
}

.about_logo-white{
  width: 148px;
  padding-top: 4rem;
}

.about_item{
  display: grid;
  grid-template-columns: 1fr 2fr ;
  padding-right: 4rem;
}
.about_text_p{
  display: grid;
  grid-column-end: 3;
  
}

.about_title{
  padding-top: 6.5rem;
  padding-left:  2.7rem;
  padding-right: 2rem;
}

.about_title-style{
color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.p{
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2.6rem;
}

.height{
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 11.3rem;
  padding-bottom: 5rem;
}

.address_list-footer{
  padding-left: 3rem;
  list-style: none;
}

.footer_list{
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding-right: 0.3rem;
  text-underline-position: under;
}
.icons{
  display: flex;
  padding-right: 1rem;
  justify-content: end;
  gap: 3rem;
  padding-right: 3.4rem;
}

.footer_list_a_no-style{
  text-decoration: none;
}

.img_icons{
  width: 48px;
}
